section.firsttimer {
  background-image: url("../../images/welcome2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(324, 81%, 40%, 0.329);
  background-blend-mode: darken;
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 20px 0;
}

section.firsttimer .box {
  padding: 30px;
  color: #fff;
}

section.firsttimer .box h3 {
  font-size: 2rem;
}

section.firsttimer .box p {
  font-size: 1rem;
  font-style: italic;
}

section.firsttimer .box p pre {
  padding: 20px 0;
}

@media screen and (max-width: 448px) {
  section.firsttimer .box p pre {
    padding: 1rem 0;
    font-size: 0.8rem;
  }
}
